.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
bin
**/config/config.yaml

manifest/config/config.yaml
!manifest/config/config.yaml.example

hack/config.yaml
internal/dao/internal/*.go
internal/dao/*.go
internal/model/do/*.go
internal/model/entity/*.go
internal/service/*.go
internal/logic/logic.go

*.exe
logs/
